<md-card>
  <md-card-content>
    <md-input-container class="full-width">
      <input mdInput placeholder="bit sequence" #bitsBox [value]="bits" (keyup)="updateBits(bitsBox.value)">
      <md-hint align="end">{{bitsBox.value.length}} bits</md-hint>
    </md-input-container>
    <md-input-container class="full-width">
      <input mdInput placeholder="hex sequence" #hexBox [value]="bits | bitsToHex" (keyup)="updateHex(hexBox.value)">
    </md-input-container>
  </md-card-content>
</md-card>
<md-card>
  <md-card-content>
    <md-input-container>
      <input mdInput placeholder="start date" type="date" #dateBox name="startDate"
             [value]="startDate | date:'yyyy-MM-dd'">
    </md-input-container>
    <mwl-calendar-month-view
      [viewDate]="startDate"
      [events]="events"
      [refresh]="refresh"
      [dayModifier]="addCssClass">
    </mwl-calendar-month-view>
  </md-card-content>
</md-card>
<router-outlet></router-outlet>
